In [1]:
!python --version

Python 3.12.4

In [2]:
import pandas as pd

In [3]:
df_target_local_path = 'df_target_30k.csv'
df_bki_local_path = 'df_BKI_30k.csv'
mapping_local_path = 'maping.xlsx'

In [4]:
df_target = pd.read_csv(df_target_local_path)

In [5]:
df_target.head(1)

   application_id  client_id  target
0        51534101   15914127       0

In [6]:
df_target_info = {
    "shape": df_target.shape,
    "columns": df_target.columns.tolist(),
    "missing_values": df_target.isnull().sum().to_dict(),
    "unique_values": df_target.nunique().to_dict(),
}
target_distribution = df_target['target'].value_counts(normalize=True)

In [7]:
df_target_info, target_distribution

({'shape': (30000, 3),
  'columns': ['application_id', 'client_id', 'target'],
  'missing_values': {'application_id': 0, 'client_id': 0, 'target': 0},
  'unique_values': {'application_id': 30000, 'client_id': 30000, 'target': 2}},
 target
 0    0.786833
 1    0.213167
 Name: proportion, dtype: float64)

In [8]:
df_bki = pd.read_csv(df_bki_local_path)

C:\Users\serga\AppData\Local\Temp\ipykernel_32184\332090967.py:1: DtypeWarning: Columns (40,42,43,44,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bki = pd.read_csv(df_bki_local_path)

In [9]:
df_bki.dtypes

application_id        int64
client_id             int64
equifax_id            int64
reporting_dt         object
account_uid           int64
                     ...
delay60               int64
delay90               int64
delay_more            int64
cred_max_overdue    float64
attr_value           object
Length: 92, dtype: object

In [10]:
df_bki.head(1).transpose()

                                                                  0
application_id                                             51859026
client_id                                                  15984285
equifax_id                                                  9344571
reporting_dt                                             2023-08-01
account_uid                                      902086582865039990
...                                                             ...
delay60                                                           0
delay90                                                           1
delay_more                                                       16
cred_max_overdue                                          113333.27
attr_value        CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...

[92 rows x 1 columns]

In [11]:
df_bki_info = {
        "shape": df_bki.shape,
        "missing_values": df_bki.isnull().sum().to_dict(),
        "unique_values": df_bki.nunique().to_dict(),
    }

In [12]:
df_bki_info

{'shape': (481335, 92),
 'missing_values': {'application_id': 0,
  'client_id': 0,
  'equifax_id': 0,
  'reporting_dt': 0,
  'account_uid': 0,
  'fund_date': 1946,
  'trade_owner_indic': 1667,
  'trade_opened_dt': 1,
  'trade_trade_type_code': 1,
  'trade_loan_kind_code': 145,
  'trade_acct_type1': 528,
  'trade_is_consumer_loan': 120,
  'trade_has_card': 0,
  'trade_is_novation': 0,
  'trade_is_money_source': 30643,
  'trade_close_dt': 3589,
  'account_amt_credit_limit': 0,
  'account_amt_currency_code': 0,
  'account_amt_ensured_amt': 444020,
  'coborrower_has_solidary': 115789,
  'coborrower_solidary_num': 480706,
  'paymnt_condition_principal_terms_amt': 166931,
  'paymnt_condition_principal_terms_amt_dt': 360638,
  'paymnt_condition_interest_terms_amt': 304541,
  'paymnt_condition_interest_terms_amt_dt': 360431,
  'paymnt_condition_terms_frequency': 353230,
  'paymnt_condition_min_paymt': 469227,
  'paymnt_condition_grace_start_dt': 474543,
  'paymnt_condition_grace_end_dt': 474367,
  'paymnt_condition_interest_payment_due_date': 395663,
  'overall_val_credit_total_amt': 11415,
  'overall_val_credit_total_monetary_amt': 155000,
  'overall_val_credit_total_amt_date': 11415,
  'month_aver_paymt_aver_paymt_amt': 170340,
  'month_aver_paymt_calc_date': 170309,
  'has_collaterals': 0,
  'has_guarantees': 0,
  'has_indie_guarantees': 0,
  'collat_insured_insur_sign': 479803,
  'collat_insured_insur_limit': 481220,
  'collat_insured_currency_code': 481220,
  'collat_insured_has_franchise': 481220,
  'collat_insured_insur_start_dt': 481220,
  'collat_insured_insur_end_dt': 481220,
  'collat_insured_insur_fact_end_dt': 481314,
  'collat_insured_insur_end_reason': 481314,
  'colat_repaid': 353797,
  'collat_repay_code': 481333,
  'collat_repay_dt': 481333,
  'collat_repay_amt': 481333,
  'loan_indicator': 165696,
  'loan_indicator_dt': 165696,
  'legal_items_has_legal_dispute': 477152,
  'legal_items_court_act_dt': 477392,
  'legal_items_court_act_effect_code': 477392,
  'hold_code': 466033,
  'hold_dt': 466033,
  'file_since_dt': 0,
  'last_updated_dt': 0,
  'last_uploaded_dt': 0,
  'arrear_sign': 0,
  'arrear_start_amt_outstanding': 6946,
  'arrear_last_payment_due_code': 27143,
  'arrear_amt_outstanding': 6939,
  'arrear_principal_outstanding': 6939,
  'arrear_int_outstanding': 12959,
  'arrear_other_amt_outstanding': 12959,
  'arrear_calc_date': 6742,
  'arrear_unconfirm_grace': 395618,
  'due_arrear_start_dt': 350921,
  'due_arrear_last_payment_due_code': 27143,
  'due_arrear_amt_outstanding': 1445,
  'due_arrear_principal_outstanding': 20990,
  'due_arrear_int_outstanding': 27010,
  'due_arrear_other_amtoutstanding': 27010,
  'due_arrear_calc_date': 6742,
  'past_due_dt': 442936,
  'past_due_last_payment_due_code': 27143,
  'past_due_amt_past_due': 1445,
  'past_due_principal_amt_past_due': 121799,
  'past_due_int_amt_past_due': 127819,
  'past_due_other_amt_past_due': 127819,
  'past_due_calc_date': 6742,
  'past_due_principal_missed_date': 458781,
  'past_due_int_missed_date': 462288,
  'delay5': 0,
  'delay30': 0,
  'delay60': 0,
  'delay90': 0,
  'delay_more': 0,
  'cred_max_overdue': 0,
  'attr_value': 0},
 'unique_values': {'application_id': 30000,
  'client_id': 30000,
  'equifax_id': 30000,
  'reporting_dt': 60,
  'account_uid': 481335,
  'fund_date': 5419,
  'trade_owner_indic': 4,
  'trade_opened_dt': 5452,
  'trade_trade_type_code': 4,
  'trade_loan_kind_code': 8,
  'trade_acct_type1': 24,
  'trade_is_consumer_loan': 2,
  'trade_has_card': 2,
  'trade_is_novation': 2,
  'trade_is_money_source': 2,
  'trade_close_dt': 10066,
  'account_amt_credit_limit': 64158,
  'account_amt_currency_code': 4,
  'account_amt_ensured_amt': 33,
  'coborrower_has_solidary': 2,
  'coborrower_solidary_num': 5,
  'paymnt_condition_principal_terms_amt': 54455,
  'paymnt_condition_principal_terms_amt_dt': 1233,
  'paymnt_condition_interest_terms_amt': 54221,
  'paymnt_condition_interest_terms_amt_dt': 1205,
  'paymnt_condition_terms_frequency': 5,
  'paymnt_condition_min_paymt': 5158,
  'paymnt_condition_grace_start_dt': 214,
  'paymnt_condition_grace_end_dt': 247,
  'paymnt_condition_interest_payment_due_date': 5342,
  'overall_val_credit_total_amt': 42306,
  'overall_val_credit_total_monetary_amt': 95270,
  'overall_val_credit_total_amt_date': 3690,
  'month_aver_paymt_aver_paymt_amt': 31477,
  'month_aver_paymt_calc_date': 2626,
  'has_collaterals': 2,
  'has_guarantees': 2,
  'has_indie_guarantees': 2,
  'collat_insured_insur_sign': 2,
  'collat_insured_insur_limit': 115,
  'collat_insured_currency_code': 1,
  'collat_insured_has_franchise': 2,
  'collat_insured_insur_start_dt': 111,
  'collat_insured_insur_end_dt': 111,
  'collat_insured_insur_fact_end_dt': 21,
  'collat_insured_insur_end_reason': 2,
  'colat_repaid': 2,
  'collat_repay_code': 1,
  'collat_repay_dt': 2,
  'collat_repay_amt': 2,
  'loan_indicator': 10,
  'loan_indicator_dt': 2636,
  'legal_items_has_legal_dispute': 2,
  'legal_items_court_act_dt': 1530,
  'legal_items_court_act_effect_code': 2,
  'hold_code': 2,
  'hold_dt': 1343,
  'file_since_dt': 4907,
  'last_updated_dt': 2652,
  'last_uploaded_dt': 2642,
  'arrear_sign': 2,
  'arrear_start_amt_outstanding': 76336,
  'arrear_last_payment_due_code': 2,
  'arrear_amt_outstanding': 89777,
  'arrear_principal_outstanding': 76009,
  'arrear_int_outstanding': 41538,
  'arrear_other_amt_outstanding': 19456,
  'arrear_calc_date': 2664,
  'arrear_unconfirm_grace': 2,
  'due_arrear_start_dt': 3614,
  'due_arrear_last_payment_due_code': 2,
  'due_arrear_amt_outstanding': 78607,
  'due_arrear_principal_outstanding': 68694,
  'due_arrear_int_outstanding': 31171,
  'due_arrear_other_amtoutstanding': 15022,
  'due_arrear_calc_date': 2664,
  'past_due_dt': 3641,
  'past_due_last_payment_due_code': 2,
  'past_due_amt_past_due': 20561,
  'past_due_principal_amt_past_due': 14663,
  'past_due_int_amt_past_due': 14671,
  'past_due_other_amt_past_due': 6161,
  'past_due_calc_date': 2664,
  'past_due_principal_missed_date': 3161,
  'past_due_int_missed_date': 2500,
  'delay5': 62,
  'delay30': 62,
  'delay60': 27,
  'delay90': 20,
  'delay_more': 67,
  'cred_max_overdue': 68077,
  'attr_value': 84219}}

In [13]:
df_bki.head(5)

,application_id,client_id,equifax_id,reporting_dt,account_uid,fund_date,trade_owner_indic,trade_opened_dt,trade_trade_type_code,trade_loan_kind_code,...,past_due_calc_date,past_due_principal_missed_date,past_due_int_missed_date,delay5,delay30,delay60,delay90,delay_more,cred_max_overdue,attr_value
0,51859026,15984285,9344571,2023-08-01,902086582865039990,2014-07-11,1.0,2014-07-11,1.0,1.0,...,2017-09-20,NaN,NaN,2,2,0,1,16,113333.27,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
1,51859359,15984353,9344781,2023-08-01,654289381013228862,2015-02-13,1.0,2015-02-13,1.0,1.0,...,2020-10-26,NaN,NaN,0,1,0,0,13,77541.87,SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSAAAAAAAAAAAA...
2,51859359,15984353,9344781,2023-08-01,741680445545450197,2012-03-21,1.0,2012-03-21,1.0,5.0,...,2023-06-30,2017-02-19,NaN,0,0,0,0,1,101457.30,--543100000AAAAAAAA98765432-------------------...
3,51859863,15984478,9345100,2023-08-01,634072954671362970,2023-05-10,1.0,2023-05-10,1.0,7.0,...,2023-07-27,NaN,NaN,0,0,0,0,0,0.00,-000
4,51860912,15984719,9345907,2023-08-01,446357239045684673,2022-12-11,1.0,2022-12-11,1.0,5.0,...,2023-07-16,NaN,NaN,0,2,0,0,0,1195.90,-22020000

In [14]:
missing_values = df_bki.isnull().sum()
missing_percentage = (missing_values / len(df_bki)) * 100

In [15]:
missing_summary = pd.DataFrame({
    "Missing Count": missing_values,
    "Missing Percentage": missing_percentage
}).sort_values(by="Missing Percentage", ascending=False)

print("Summary of Missing Values:")
print(missing_summary[missing_summary["Missing Count"] > 0])

Summary of Missing Values:
                                  Missing Count  Missing Percentage
collat_repay_amt                         481333           99.999584
collat_repay_code                        481333           99.999584
collat_repay_dt                          481333           99.999584
collat_insured_insur_fact_end_dt         481314           99.995637
collat_insured_insur_end_reason          481314           99.995637
...                                         ...                 ...
trade_acct_type1                            528            0.109695
trade_loan_kind_code                        145            0.030125
trade_is_consumer_loan                      120            0.024931
trade_opened_dt                               1            0.000208
trade_trade_type_code                         1            0.000208

[69 rows x 2 columns]

In [16]:
from src.ml.feature_engineering import generate_base_features
from src.ml.preprocessing import convert_data_types, drop_features
from src.tools.data_config import feature_config,preprocess_config

df_converted = convert_data_types(df_bki,preprocess_config)
df_converted = drop_features(df_converted)
df_aggr = generate_base_features(
    data=df_bki,
    stats_dict=feature_config.agg_dict,
    categorical_features=feature_config.categorical_features
)

In [17]:
from src.ml.feature_engineering import diff_dates,fill_missing_values
from src.tools.data_config import FEATURE_DATE
df_dates = diff_dates(df_aggr, feature_date=FEATURE_DATE)
df_filled = fill_missing_values(df_aggr,how=0)

In [18]:
df_aggr.dtypes

application_id                                  int64
account_uid_count                               int64
fund_date_min                          datetime64[ns]
fund_date_max                          datetime64[ns]
fund_date_<lambda_0>                   datetime64[ns]
                                            ...
due_arrear_calc_date_diff                       int64
past_due_dt_diff                                int64
past_due_calc_date_diff                         int64
past_due_principal_missed_date_diff             int64
past_due_int_missed_date_diff                   int64
Length: 205, dtype: object

In [19]:
df_aggr.isnull().sum()

application_id                         0
account_uid_count                      0
fund_date_min                          0
fund_date_max                          0
fund_date_<lambda_0>                   0
                                      ..
due_arrear_calc_date_diff              0
past_due_dt_diff                       0
past_due_calc_date_diff                0
past_due_principal_missed_date_diff    0
past_due_int_missed_date_diff          0
Length: 205, dtype: int64

In [20]:
from src.ml.train_preparation import merge_features_target

df_aggr_w_target = merge_features_target(df_aggr,df_target)

In [21]:
df_aggr_w_target

,account_uid_count,fund_date_min,fund_date_max,fund_date_<lambda_0>,trade_opened_dt_min,trade_opened_dt_max,trade_opened_dt_<lambda_0>,trade_close_dt_min,trade_close_dt_max,trade_close_dt_<lambda_0>,...,last_uploaded_dt_diff,arrear_calc_date_diff,due_arrear_start_dt_diff,due_arrear_calc_date_diff,past_due_dt_diff,past_due_calc_date_diff,past_due_principal_missed_date_diff,past_due_int_missed_date_diff,client_id_y,target
application_id,,,,,,,,,,,,,,,,,,,,,
51534101,17,2017-11-01,2023-07-05,1970-01-01 00:00:00.000002072,2017-11-01,2023-07-05,2072,2017-12-01,2027-06-30,3498.0,...,514,514,514,514,512,514,0,512,15914127,0
51534210,17,2022-08-21,2023-07-06,1970-01-01 00:00:00.000000319,2022-08-21,2023-07-06,319,2023-01-09,2023-07-23,195.0,...,512,513,513,513,0,513,0,0,15914149,1
51534377,5,2021-02-08,2023-07-17,1970-01-01 00:00:00.000000889,2021-02-08,2023-07-17,889,2022-01-08,2023-08-16,585.0,...,501,502,502,502,770,502,662,662,8628346,0
51534467,4,2022-10-06,2023-06-15,1970-01-01 00:00:00.000000252,2022-10-05,2023-06-15,253,2024-10-05,2260-12-31,86284.0,...,518,521,521,521,0,521,0,0,15914211,0
51534573,27,2010-05-27,2023-07-15,1970-01-01 00:00:00.000004797,2010-05-27,2023-07-15,4797,2018-11-16,2260-12-31,88434.0,...,502,504,503,504,0,504,0,0,15914238,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53149362,4,2022-07-31,2023-07-24,1970-01-01 00:00:00.000000358,2022-07-31,2023-07-20,354,2260-12-31,2260-12-31,0.0,...,442,445,499,445,0,445,0,0,16256193,0
53149374,5,2022-10-23,2023-09-17,1970-01-01 00:00:00.000000329,2022-10-23,2023-09-17,329,2023-06-05,2260-12-31,86772.0,...,440,440,440,440,449,440,449,449,13698851,0
53149390,21,2015-04-27,2023-07-18,1970-01-01 00:00:00.000003004,2015-04-27,2023-07-12,2998,2015-10-27,2260-12-31,89550.0,...,440,443,501,443,0,443,0,0,13552442,0
53149410,4,2023-06-05,2023-08-17,1970-01-01 00:00:00.000000073,2023-06-05,2023-08-17,73,2023-06-26,2260-12-31,86751.0,...,452,456,458,456,0,456,0,0,16256204,0
53149435,2,2023-08-15,2023-08-26,1970-01-01 00:00:00.000000011,2023-08-13,2023-08-26,13,2024-08-14,2260-12-31,86336.0,...,440,443,462,443,0,443,0,0,13142752,0

In [22]:
from src.ml.train_preparation import remove_non_numeric_features

df_aggr_w_target_n = remove_non_numeric_features(df_aggr_w_target)

In [23]:
from src.ml.train_preparation import t_t_split
from src.tools.data_config import TARGET_COLUMN, split_config
train_data, test_data = t_t_split(df=df_aggr_w_target_n,
                                  split_config=split_config,
                                  target_column=TARGET_COLUMN
                                  )

In [24]:
from src.ml.binning import perform_train_binning

train_woe, test_woe = perform_train_binning(
    train_data, test_data, target_column=TARGET_COLUMN
)

(CVXPY) Dec 01 04:22:40 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.11.4210). Expected < 9.10.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Dec 01 04:22:40 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.11.4210). Expected < 9.10.0. Please open a feature request on cvxpy to enable support for this version.')

In [25]:
train_woe

,account_uid_count,trade_opened_dt_<lambda_0>,trade_close_dt_<lambda_0>,account_amt_credit_limit_mean,account_amt_credit_limit_max,account_amt_ensured_amt_mean,account_amt_ensured_amt_max,paymnt_condition_principal_terms_amt_mean,paymnt_condition_principal_terms_amt_max,paymnt_condition_principal_terms_amt_std,...,last_uploaded_dt_diff,arrear_calc_date_diff,due_arrear_start_dt_diff,due_arrear_calc_date_diff,past_due_dt_diff,past_due_calc_date_diff,past_due_principal_missed_date_diff,past_due_int_missed_date_diff,client_id_y,target
application_id,,,,,,,,,,,,,,,,,,,,,
52334521,3,1524,81196.0,902000.000000,2600000.00,0.0,0.0,2102.946667,4581.67,2313.834712,...,472,475,631,475,0,475,0,0,16079988,0
52944198,27,566,86823.0,7418.000000,59763.00,0.0,0.0,602.370741,6000.00,1438.742246,...,461,464,464,464,454,464,454,454,14915141,1
53096418,31,4143,89138.0,34765.705161,164821.13,0.0,0.0,4397.940000,14000.00,4596.685510,...,460,461,461,461,0,461,0,0,13088757,0
53031041,10,168,182.0,6850.000000,15000.00,0.0,0.0,2800.000000,15000.00,5116.422361,...,449,450,450,450,0,450,0,0,16232730,1
52494244,99,3436,30178.0,9585.391010,193072.40,0.0,0.0,667.457945,11000.00,2225.536879,...,475,475,617,475,569,475,569,569,2683752,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51541848,8,2037,1686.0,51301.500000,87500.00,0.0,0.0,0.000000,0.00,0.000000,...,500,501,501,501,0,501,0,0,15915805,0
51792262,14,2695,88843.0,50424.712857,298278.67,0.0,0.0,86.200000,431.00,192.749060,...,493,497,553,497,497,497,0,497,15969265,0
51997175,14,2032,88265.0,90622.642143,520635.63,0.0,0.0,1967.194000,7172.10,3129.934529,...,482,487,562,487,0,487,0,0,16011477,0
52307109,2,556,354.0,9772.000000,13744.00,0.0,0.0,2900.000000,5800.00,4101.219331,...,470,471,470,471,0,471,0,0,16074215,0
51689900,10,3533,5582.0,80654.827000,200000.00,0.0,0.0,5796.455000,30000.00,11915.508018,...,495,496,495,496,0,496,0,0,13065044,0

In [26]:
import joblib
from src.tools.data_config import BINNING_FILE
binning_dict = joblib.load(BINNING_FILE)

In [27]:
binning_dict

{}

In [ ]:
from src.tools.analysis import FeatureAnalyser
from src.tools.data_config import feature_thresholds
df_report_dates = (df_bki[['application_id', 'reporting_dt']].copy(deep=True)
              .drop_duplicates())
df_report_dates.set_index('application_id', inplace=True)
feature_analyser = FeatureAnalyser(train_woe=train_woe,test_woe=test_woe, 
                                   target_col=TARGET_COLUMN, df_dates=df_report_dates,
                                   feature_thresholds=feature_thresholds)
feature_analyser.run_analysis()
feature_analyser.save_results('factor_analysis.csv')

In [ ]:
binning_results = pd.read_csv('factor_analysis.csv')

In [ ]:
binning_results

In [ ]:
optb = binning_dict['account_uid_count']

In [ ]:
optb.binning_table.build()

In [ ]:
optb.binning_table.analysis()

In [ ]:
feature_analyser.filter_features()

In [ ]:
feature_analyser.selected_features

In [ ]:
from src.tools.analysis import FeatureSelector

feature_selector = FeatureSelector(feature_analyser)

In [ ]:
feature_selector.calculate_correlation()
feature_selector.calculate_vif()
feature_selector.calculate_total()
feature_selector.plot_gini_by_features()

In [ ]:
cor_df = pd.read_csv('correlation_filtered_features.csv')
cor_df

In [ ]:
vif_df = pd.read_csv('vif_filtered_features.csv')
vif_df

In [ ]:
feature_selector.selected_features_vif

In [ ]:
list(set(feature_selector.selected_features_corr).intersection(set(feature_selector
                                                                   .selected_features_vif)))

In [ ]:
feature_filter = feature_selector.selected_features
top_list = (binning_results.query('Feature in @feature_filter')
            .sort_values('Gini Train', ascending=False).head(10))['Feature'].tolist()
top_list.append('target')

In [ ]:
train_woe[top_list]

In [ ]:
from src.ml.model_training import FinalModelBuilder

final_model_builder = FinalModelBuilder(
    train_data=train_woe[top_list], 
    test_data=test_data[top_list], 
    target_col=TARGET_COLUMN
)
final_model_builder.optimize_model()
final_model_builder.train_final_model()
final_model_builder.evaluate_model()

In [ ]:
final_model_builder.save_model("final_model.pkl")

In [ ]:
final_model_builder.save_predictions()

In [ ]:
pd.read_csv('train_result.csv')

In [ ]:
pd.read_csv('test_result.csv')